section.section-padding.content-page
    .container
        .big-box.no-border
            h1 Content <a href="#target">page</a> h1
            h2 Content page h2
            h3 Content page h3
            h4 Content page h4
            h5 Content page h5
            h6 Content page h6
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam asperiores autem cum debitis dolore, exercitationem explicabo nostrum repellat voluptatibus voluptatum. Aliquid debitis distinctio, hic reprehenderit rerum ullam voluptates! Obcaecati, totam!
            p Lorem ipsum dolor sit amet.
            p Lorem ipsum dolor sit amet.
            p Lorem <b>ipsum</b> <i>dolor sit</i> amet, <u>consectetur</u> adipisicing elit. Aspernatur commodi consectetur distinctio doloribus ducimus exercitationem facilis iure laborum maxime molestiae, nemo perferendis placeat ratione repellendus sapiente tempore, vitae voluptas voluptate!
            p <a href="#">lorem 1</a>
            br
            p <a href="https://google.com">lorem 2</a>
            img(src="https://via.placeholder.com/200" alt="via" title="via")
            br
            ul
                li list item 1
                li list item 2
                li list item 3
                li list item 4
                li list item 5
            ol
                li list item 1
                li list item 2
                li list item 3
                li list item 4
                li list item 5
section.section-padding.content-page
    .container
        h1 Content <a href="#target">page</a> h1
        h2 Content page h2
        h3 Content page h3
        h4 Content page h4
        h5 Content page h5
        h6 Content page h6
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam asperiores autem cum debitis dolore, exercitationem explicabo nostrum repellat voluptatibus voluptatum. Aliquid debitis distinctio, hic reprehenderit rerum ullam voluptates! Obcaecati, totam!
        p Lorem ipsum dolor sit amet.
        p Lorem ipsum dolor sit amet.
        p#target Lorem <b>ipsum</b> <i>dolor sit</i> amet, <u>consectetur</u> adipisicing elit. Aspernatur commodi consectetur distinctio doloribus ducimus exercitationem facilis iure laborum maxime molestiae, nemo perferendis placeat ratione repellendus sapiente tempore, vitae voluptas voluptate!
        p <a href="#">lorem 1</a>
        br
        p <a href="https://google.com">lorem 2</a>
        img(src="https://via.placeholder.com/200" alt="via" title="via")
        br
        ul
            li list item 1
            li list item 2
            li list item 3
            li list item 4
            li list item 5
        ol
            li list item 1
            li list item 2
            li list item 3
            li list item 4
            li list item 5
section.section-padding.content-page
    .container
        .big-box
            h1 Content <a href="#target">page</a> h1
            h2 Content page h2
            h3 Content page h3
            h4 Content page h4
            h5 Content page h5
            h6 Content page h6
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam asperiores autem cum debitis dolore, exercitationem explicabo nostrum repellat voluptatibus voluptatum. Aliquid debitis distinctio, hic reprehenderit rerum ullam voluptates! Obcaecati, totam!
            p Lorem ipsum dolor sit amet.
            p Lorem ipsum dolor sit amet.
            p Lorem <b>ipsum</b> <i>dolor sit</i> amet, <u>consectetur</u> adipisicing elit. Aspernatur commodi consectetur distinctio doloribus ducimus exercitationem facilis iure laborum maxime molestiae, nemo perferendis placeat ratione repellendus sapiente tempore, vitae voluptas voluptate!
            p <a href="#">lorem 1</a>
            br
            p <a href="https://google.com">lorem 2</a>
            img(src="https://via.placeholder.com/200" alt="via" title="via")
            br
            ul
                li list item 1
                li list item 2
                li list item 3
                li list item 4
                li list item 5
            ol
                li list item 1
                li list item 2
                li list item 3
                li list item 4
                li list item 5
