section.order
    .container
        .row
            include ./../user-panel.pug
            .order-list-wrapper
                .order-list-title.flex-container
                    .order-list-title-flex-item.order-fix-width
                    .order-list-title-flex-item.order-flex-item Дата заказа
                    .order-list-title-flex-item.order-flex-item №
                    .order-list-title-flex-item.order-flex-item Доставка
                    .order-list-title-flex-item.order-flex-item Сумма
                    .order-list-title-flex-item.order-flex-item Статус
                .order-item.flex-container.flex-wrap
                    .order-flex-item.order-fix-width
                        img(src="./images/order-item.png" alt="order" title="order")
                        img(src="./images/order-item.png" alt="order" title="order")
                        img(src="./images/order-item.png" alt="order" title="order")
                        img(src="./images/order-item.png" alt="order" title="order")
                    .order-flex-item 18.04.2016
                    .order-flex-item АЗ10294955
                    .order-flex-item Курьером по Москве
                    .order-flex-item 56 700 руб.
                    .order-flex-item В доставке
                    .order-info.flex-container.flex-wrap
                        .order-info-column-wrapper.flex-container
                            .order-info-column.flex-3
                                .order-info-column-title Покупатель
                                .order-info-column-text Синельникова Виктория Владимировна почта@гмайл.ком +48959903345
                            .order-info-column.flex-3
                                .order-info-column-title Адрес доставки:
                                .order-info-column-text Москва по ком звонят твои колокола
                            .order-info-column.flex-3
                                .order-info-column-title Доставка
                                .order-info-column-text Курьером
                                .order-info-column-title Оплата
                                .order-info-column-text Наличными
                        .order-info-items
                            .order-info-item.flex-container.flex-wrap
                                .order-cart-img
                                    img(src="./images/order-item.png" alt="order" title="order")
                                .order-cart-title
                                    h6 Сарафан с воланами
                                    p размер: M, цвет: бежевый
                                .order-cart-price
                                    p 1 шт. х 7 000 грн. = 7 000 грн.
                            .order-info-item.flex-container.flex-wrap
                                .order-cart-img
                                    img(src="./images/order-item.png" alt="order" title="order")
                                .order-cart-title
                                    h6 Сарафан с воланами
                                    p размер: M, цвет: бежевый
                                .order-cart-price
                                    p 1 шт. х 7 000 грн. = 7 000 грн.
                            .order-info-item.flex-container.flex-wrap
                                .order-cart-img
                                    img(src="./images/order-item.png" alt="order" title="order")
                                .order-cart-title
                                    h6 Сарафан с воланами
                                    p размер: M, цвет: бежевый
                                .order-cart-price
                                    p 1 шт. х 7 000 грн. = 7 000 грн.
                        .order-info-total.flex-container
                            .order-total-container
                                .flex-container.order-price-wrapper
                                    p.order-info-total-text Стоимость товара:
                                    p.order-info-total-text 26 005 грн.
                                .flex-container.order-price-wrapper
                                    p.order-info-total-text Стоимость доставки:
                                    p.order-info-total-text 26 005 грн.
                                .flex-container.order-price-wrapper
                                    p.order-info-total-text ИТОГО:
                                    p.order-info-total-text 26 005 грн.