section.order.section-padding
    .container
        .big-box
            form.order-form#sendRequestToSitter(action="#")
                .order-wrap
                    .order-panel
                        .row
                            .col-6.col-sm-6.col-md-2.align-self-center
                                a.order-link-back.transition(href="./")
                                    i.fas.fa-angle-left
                                    span назад
                            .col-12.col-sm-12.col-md-8.align-self-center
                                h1.order-title.text-center Отправить запрос ситтеру <span>Анастасии Р.</span>
                            .col-6.col-sm-6.col-md-2.align-self-center
                                img.order-avatar(src="https://via.placeholder.com/150")
                    .order-content
                        .row
                            .col-12
                                label.order-label Когда вы хотите оставить собаку?
                            .col-6
                                label.order-label-date(for="dateFrom")
                                    span Отдадите
                                    input#dateFrom(type="text" name="dateFrom")
                            .col-6
                                label.order-label-date(for="dateTo")
                                    span Заберете
                                    input#dateTo(type="text" name="dateTo")
                            .col-6
                                .order-input-wrap
                                    input#orderTel.order-input(type="tel" name="orderTel" placeholder="+380(50)XXX-XX-XX")
                            .col-12
                                .more-btn.text-center
                                    input(type="submit" value="Завершить").more.mybtn.mybtn-orange.reg-btn
