.mybtn {
	font-family: $mainFont;
	background: #fff;
	color: $titleBlackColor;
	border: 2px solid $orange;
	font-size: responsive 14px 16px;
	font-weight: 600;
	padding: 6px 12px;
	text-transform: uppercase;
	border-radius: 0;
	cursor: pointer;
	position: relative;
	text-align: center;
	text-decoration: none;
	appearance: none;
	display: inline-block;
	outline: none !important;
	transition: .25s;
	&:hover {
		background: $orange;
		color: #fff;
	}
	&-yellow {
		border-radius: 3px;
		background-color: $yellow;
		color: #333;
		border-color: $yellow;
		&:hover {
			background-color: #fff;
		}
	}
}
