// breadcrumbs
.breadcrumbs {
  &-link {
    font-size: 12px;
    font-family: $secondFont;
    font-weight: 300;
    color: rgb(107, 117, 127);
    text-transform: uppercase;
    &:hover {
      color: #000;
    }
    &.current {
      font-weight: 700;
      color: #000;
      cursor: default;
    }
  }
  &-wrapper {
    padding: 8px 0;
  }
}
// eof breadcrumbs


// user-panel
.user-panel {
  background-color: rgb(239,247,254);
  height: 46px;
  &-list {
    height: 46px;
  }
  &-item {
    margin: 0 30px;
  }
  &-link {
    color: rgb(139, 152, 166);
    font-family: $mainFont;
    span {
      margin-right: 12px;
    }
    &.active {
      color: rgb(10, 11, 12);
    }
    &:hover {
      color: rgb(10, 11, 12);
    }
  }
}
// eof user-panel


// map
#map {
  height: 400px;
}
// eof map

// preloader
.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  z-index: 30000000;
  &__wrap {
    width: 250px;
    height: 100px;
    position: absolute;
    left: 50%;
    top: 48%;
    margin-left: -125px;
    margin-top: -75px;
    color: $yellow;
    font-size: 40px;
    letter-spacing: -2px;
    text-align: center;
    line-height: 35px;
  }
  &__svg {
    position: absolute;
    width: 41px;
    height: 41px;
    background: /*url(images/oval.svg) */
            center center no-repeat;
    background-size: 41px;
    margin: -16px 0 0 -16px;

  }
}
// eof preloader
