// properties for flex elements
.flex-container {
  display: flex;
}
.flex-container-w100 {
  display: flex;
  width: 100%;
}
.flex-center {
  justify-content: center;
  align-items: center;
}
.flex-center-v {
  align-items: center;
}
.flex-side {
  justify-content: space-between;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-column {
  flex-direction: column;
}
.flex-end {
  align-items: flex-end;
}