@font-face {
  font-family: "ProximaNovaBlack";
  font-path: './../fonts/ProximaNova-Black';
}
@font-face {
  font-family: "ProximaNovaExtraBld";
  font-path: './../fonts/ProximaNova-ExtraBld';
}
@font-face {
  font-family: "ProximaNovaBold";
  font-path: './../fonts/ProximaNova-Bold';
}
@font-face {
  font-family: "ProximaNovaSemibold";
  font-path: './../fonts/ProximaNova-Semibold';
}
@font-face {
  font-family: "ProximaNovaRegular";
  font-path: './../fonts/ProximaNova-Regular';
}
@font-face {
  font-family: "ProximaNovaLight";
  font-path: './../fonts/ProximaNova-Light';
}
