// ===========Base vars================
$lineHeight: 1.5;

// =============Colors=================
$mainColor: #333;
$secondColor: #fff;
$titleBlueColor: #1e414e;
$titleBlackColor: #1b1b1b;
$yellow: #f6e25d;
$orange: #ff9d00;
$middleGrey: #f2f2f2;
$lightGrey: #fafafa;
$linkColor: #3b3738;
$muted: #808080;
$footerBlack: #2e303c;
$footerText: #999ebc;

// =============Fonts==================
$mainFont: 'Fira Sans', sans-serif;
$secondFont: 'Oswald', sans-serif;
$titleFont: 'Oswald', sans-serif;

// Social Network Colors
$facebook: rgb(49,77,150);
$twitter: rgb(78,129,200);
$linkedin: #0077B5;
$youtube: #CD201F;
$google: #dd4b39;
$vk: #4c75a3;
$skype: #00AFF0;

// Breakpoints
$min400:"(min-width : 401px)";
$min520:   "(min-width : 521px)";
$min768:  "(min-width: 769px)";
$min992: "(min-width: 993px)";
$min1200:   "(min-width: 1201px)";
// max
$max400:"(max-width : 400px)";
$max520:   "(max-width : 520px)";
$max768:  "(max-width: 768px)";
$max992: "(max-width: 992px)";
$max1200:   "(max-width: 1200px)";