// ===========Base vars================
$line-height: 1.6;
$main-bg: #fff;

// =============Colors=================
$main-color: #7c7c7c;
$second-color: #fff;
$link-color: #555;
$hover-color: #eee;
$title-color: #444;
$breadcrumbs-color: #999;
$red: #ed455a;
// $border: #b2b2b2;
// $muted: #6f6f6f;

// =============Fonts==================
$main-font: 'ProximaNovaRegular', sans-serif;
$main-fontBold: 'ProximaNovaBold', sans-serif;
$main-fontSemibold: 'ProximaNovaSemibold', sans-serif;
$main-fontBlack: 'ProximaNovaBlack', sans-serif;
$main-fontLight: 'ProximaNovaLight', sans-serif;
$main-fontExtrabold: 'ProximaNovaExtrabld', sans-serif;
$second-font: 'Roboto', sans-serif;
$title-font: 'ProximaNovaBold', sans-serif;
$nav-font: 'Roboto', sans-serif;

// Social Network Colors
$facebook: rgb(49,77,150);
$twitter: rgb(78,129,200);
$linkedin: #0077B5;
$youtube: #CD201F;
$googleplus: #dd4b39;
$vk: #4c75a3;
$skype: #00AFF0;

