section.card__user-panel
    .container
        .row
            .col-12
                p user panel
section.card__user-info
    .container
        .row
            .col-md-9.col-sm-9.col-12
                p Main info
            .col-md-3.col-sm-3.col-12
                p Sidebar
section.card__map
    #map
section.card__comments
    .container
        .row
            .col-12
                p Комменты