main.main
    section.section-padding
        .container
            .row
                .col-4
                    h1.title-blue title H1
                    h2.title-blue.custom-line title H2
                    h3.title-blue title H3
                    h4.title-blue.custom-line title H4
                    h5.title-blue title H5
                    h6.title-blue.custom-line title H6
                .col-4
                    h1.custom-line title H1
                    h2 title H2
                    h3.custom-line title H3
                    h4 title H4
                    h5.custom-line title H5
                    h6 title H6
                .col-4
                    .mybtn__wrap
                        a.mybtn.transition(href="#") simple btn
                    .mybtn__wrap.center
                        a.mybtn.transition(href="#") simple btn
                    .mybtn__wrap.right
                        a.mybtn.transition(href="#") simple btn
                    .mybtn__wrap
                        a.mybtn.mybtn-yellow.transition(href="#") ylw btn
                    .mybtn__wrap.center
                        a.mybtn.mybtn-yellow.transition(href="#") ylw btn
                    .mybtn__wrap.right
                        a.mybtn.mybtn-yellow.transition(href="#") ylw btn
                .col-4
                    p.text-thin Some text thin...
                    p.text-thin.center Some text thin...
                    p.text-thin.right Some text thin...
                    p Some text regular...
                    p.center Some text regular...
                    p.right Some text regular...
                    p.text-medium Some text medium...
                    p.text-medium.center Some text medium...
                    p.text-medium.right Some text medium...
                    p.text-semibold Some text semibold...
                    p.text-semibold.center Some text semibold...
                    p.text-semibold.right Some text semibold...
                    p.text-bold Some text bold...
                    p.text-bold.center Some text bold...
                    p.text-bold.right Some text bold...
                .col-4
                    h1.title-blue  Colors we use:
                    section.center.color-main main
                    section.center.color-second second
                    section.center.color-blue blue
                    section.center.color-black black
                    section.center.color-yellow yellow
                    section.center.color-orange orange
                    section.center.color-middleGrey middleGrey
                    section.center.color-lightGrey lightGrey
                    section.center.color-link link
                    section.center.color-muted muted
                    section.center.color-footerBlack footerBlack
                    section.center.color-footerText footerText
                .col-4
                    h4.text-font-main.text-thin Main Font 'Fira Sans' thin
                    h4.text-font-main.text-regular Main Font 'Fira Sans' regular
                    h4.text-font-main.text-medium Main Font 'Fira Sans' medium
                    h4.text-font-main.text-semibold Main Font 'Fira Sans' semibold
                    h4.text-font-main.text-bold Main Font 'Fira Sans' bold
                    br
                    h4.text-font-second.text-thin Main Font 'Oswald' thin
                    h4.text-font-second.text-regular Main Font 'Oswald' regular
                    h4.text-font-second.text-semibold Main Font 'Oswald' semibold
                    h4.text-font-second.text-bold Main Font 'Oswald' bold
