doctype html
html
    head
        - var page_name = "blog"
        include ./includes/head.pug
    body
        include ./includes/header.pug
        include ./includes/blog/content.pug
        include ./includes/footer.pug
        include ./includes/scripts.pug