doctype html
html
    head
        - var page_name = "Favorites"
        include ./includes/head.pug
    body
        include ./includes/header.pug
        include ./includes/favorites/content.pug
        include ./includes/footer.pug
        include ./includes/scripts.pug