doctype html
html
	head
		- var page_name = "Home"
		include ./includes/head.pug
	body
		include ./includes/header.pug
		include ./includes/index/content.pug
		include ./includes/footer.pug
		include ./includes/scripts.pug