doctype html
html
    head
        - var page_name = "Login"
        include ./includes/head.pug
    body
        include ./includes/header.pug
        include ./includes/login/content.pug
        include ./includes/footer.pug
        include ./includes/scripts.pug