doctype html
html
    head
        - var page_name = "product"
        include ./includes/head.pug
    body
        include ./includes/header.pug
        include ./includes/product/content.pug
        include ./includes/footer.pug
        include ./includes/scripts.pug