doctype html
html
    head
        - var page_name = "profile messages"
        include ./includes/head.pug
    body
        include ./includes/header.pug
        include ./includes/profile/messages.pug
        include ./includes/footer.pug
        include ./includes/scripts.pug