doctype html
html
    head
        - var page_name = "Registration - sitter"
        include ./includes/head.pug
    body
        include ./includes/header.pug
        include ./includes/reg-sitter/content.pug
        include ./includes/footer.pug
        include ./includes/scripts.pug