doctype html
html
    head
        - var page_name = "UI-kit"
        include ./includes/head.pug
    body
        include ./includes/header.pug
        include ./includes/ui/content.pug
        include ./includes/footer.pug
        include ./includes/scripts.pug