section.article-wrapper
    .container
        .row
            h1 Простые скальпинг услуги
            span.time 7 ноября в 20:05
            h3 Торговая стратегия скальпинг: суть, методики, рекомендации
            p На рынок Форекс нельзя сразу придти скальпером, но вот обучиться стратеги скальпинг может практически каждый трейдер. Сама терминология «скальпинг» произошла от синонимического глагола «скальпировать», означающего снятие скальпа с кожи головы. Если рассматривать валютный рынок, то здесь в роли «голов» выступают дневные и локальные экстремумы. Как раз именно с их «голов» скальпер и срезает прибыльную маржу.
            img(src="./images/strategy.png" title="strategy" alt="strategy")
            ul
                li Ну а что?
                li Ну а что?
                li Ну а что?
            p Если вы являетесь новичком по направлению «скальпинг», то вам необходимо знать, что данная методика торговли представляет собой одну из наиболее трудоемких форм работы на рынке. Осуществлять длительную и, главное, эффективную скальпинг стратегию весьма сложно – очень изматывает. Существуют различные устоявшиеся методики скальпирования, однако каждый трейдер использует индивидуальные подходы, которые отличаются использованием своих индикаторов и осцилляторов, своим уровнем подсознания, своим видением рынка. При этом стратегия у всех всегда идентична: вошел в рынок, снял «скальп», вышел с рыночной платформы. Для того чтобы стратегическая модель была эффективной (прибыльной), важно принимать оперативные решения по рынку, то есть уметь моментально разворачиваться и следовать за ним.
            h3 В нашем примере мы будем использовать две торговые сессии:
            ol
                li <b>Европейская торговая сессия.</b><br/> <p>Её начало в 11.00 (московское время) – время открытия Лондонской площадки.</p>
                li <b>Американская торговая сессия.</b><br/> <p>Появление ордеров данной сессии происходит на рынке в 15.45 (московское время).</p>
            h4 Пример
            p Торговое время – 11.00 (московское время).
            h4 Рекомендуемая модель начальных действий:
            ol
                li Не торопитесь открываться точно в это время.
                li Произведите запуск двух терминалов (учебный и торговый).
                li Проанализируйте выполнение ночных заявок (пусть крупные инвесторы раскроют уровень сопротивления и уровень поддержки на предстоящий торговый день).
                li Проанализируйте экономический календарь (календарь новостей).
                li Произведите запуск цифрового индикатора группового движения
            p В качестве торговых инструментов выступают: кабель (фунтобакс), баксофранк (долларовая группа), евройена (йеновая группа).<br/><b>Рекомендуемый таймфрейм – М5, М15, М30.</b>
            h4 ВОЗМОЖНЫ СЛЕДУЮЩИЕ ВАРИАНТЫ УСТАНОВКИ ОТЛОЖЕННЫХ ОРДЕРОВ:
            p Рекомендуем входить в рынок в тот момент, когда определено групповое движение. Установка отложенных ордеров в непосредственной близости от цены (в случае если терминал позволяет).<br>Менее рисковый вариант – установка ордеров на пробой дневного экстремума (если близко), либо – на пробой какого-нибудь недавнего подходящего локального экстремума. Доливки являются очень важной составляющей скальпинг стратеги. Их оптимально ставить через каждые 10п. от «первого» ордера. Как правило, количество доливок – не более 3. Конечно, доливки необязательны, но они выполняют очень важную роль. Какую? Первоначальный вход осуществляем небольшим лотом и, если вход оказался ошибочным, покидаем торговлю с небольшими потерями. Если же тенденция положительная и цена направляется в нашу сторону, то фиксируем увеличение позы. Вот в этом как раз и состоит функция доливок – функция страхования риска входа. Функция на ранней стадии весьма адекватная – с одной стороны, мы хотим достойного заработка, с другой – не хотим больших потерь в случае плохого расклада. В дальнейшем, после получения хорошего опыта и чувства рынка, можно наделять первые ордера более тяжелым весом. Важно подчеркнуть, что после прохождения 30-40п. утренний тренд иссякает и начинается стадия межсессионного флета.
            img(src="./images/strategy2.png" title="strategy2" alt="strategy2")
            p Для того чтобы более четко прояснить модель скальпинга, приведем графический анализ торгов (представлен на рисунке 1). Прокомментируем тенденции и шаги, отраженные на графике. После преодоления отметки в 15 пунктов профита ставим стоп на 5п., и трелим ордер на расстоянии 15п, при срабатывании трейлинг стопа закрываем все сделки. Итог сделки, три позиции закрылись по трейлинг стопу, четвертая в без убыток (5п.), пятую позицию закрыли с убытком (-10п) когда у первых сделок сработал трейлинг стоп: +30+20+10+5-10=55п.Скальпинг стратегия, как впрочем и другие торговые стратегии, имеет свои плюсы и минусы. Например, если использовать модель долгосрочной торговли, то мы получим большое количество свободного времени, при применении методик скальпинга такого нет – здесь необходимо «пахать» на протяжении всего торгового дня. При этом скальпер за один торговый день может получить существенно больший доход, нежели трейдер, отдающий приоритет среднесрочной и, тем более, долгосрочной торговле. Кроме этого, при скальпинге вся ценовая динамика всё время перед глазами, и имеется рычаг мгновенной реакции на любые изменения (волнения) рынка. Таким образом, скальперы получают бесценный опыт, благодаря ежедневной, порой утомительной торговле. Используя методики скальпинга, трейдер начинает лучше понимать модель поведения цены той или иной валютной пары, начинает чувствовать и на основе этого формировать корректные прогнозы развития рынка.
            p которая основана на принципах, направленных на быстрое открытие-закрытие позиций на 1-5 минутных графиках. Основная цель при этом – получение прибыли, которая покрывала бы величину спрэда, то есть, как только размер прибыли по открытой позиции становится положительным, и трейдер удовлетворен этим размером, фиксируется закрытие ордера.
            h4 Характерная черта скальпинга
            p заключается в большом количестве производимых сделок. За один торговый день трейдер может заключать от 30 до 1000 сделок. Как правило, при скальпинге используют такие графические модели, как М1 (1 минута) и М5 (5 минут). Для того чтобы торговля была успешной, скальперу необходимо большое кредитное плечо. Большинство скальперов использует кредитное плечо, имеющее размер 1:200 – 1:500. Например, при наличии кредитного плеча 1:500 существует возможность для открытия позиции, которая имеет объем 1 лот. При этом залог составит всего 200 долларов США.
            p В среде профессионального трейдинга методики скальпинга не пользуются популярностью, так как многие трейдеры рассматривают скальпинг стратеги как направление, которому характерен бессмысленный риск и отсутствие четкой стратегии входа на рынок и выхода из него. В какой-то степени эти выводы верны, в какой-то – нет (об этом будет сказано ниже). В настоящее время  используются многочисленные стратегии, основанные на скальпинге. При этом рассматриваются различные валютные пары и таймфреймы (временные периоды). Однако приоритет у скальпинг стратегии неизменен – успеть своевременно забрать прибыль. Для того чтобы понять фундаментальные особенности скальпинга, рассмотрим основные  положительные и отрицательные черты данной торговой стратегии. 200 долларов США.
            h4 Плюсы скальпинг стратегии состоят в следующем:
            ol
                li В случае удачной торговли прибыль может достигать 10-30% от величины дневного депозита.
                li Нет необходимости в изучении технического и фундаментального анализа.
                li Отсутствие барьеров для входа на рынок (свободный вход на рынок).
            h4 Брокеры, у которых скальпинг разрешен:
            img(src="./images/partner.png" title="strategy" alt="strategy")
            img(src="./images/partner.png" title="strategy" alt="strategy")
.container
    .row
        h1.article-title.title Вам может быть интересно
        .articleSlider.flex-container
            div.listing-item.flex-container.flex-wrap
                p.listing-time 6 ноября в 22:05
                h2.listing-item-title Пара доллар США / канадский доллар будет торговать
                a.listing-link.transition Подробнее
            div.listing-item.flex-container.flex-wrap
                p.listing-time 6 ноября в 22:05
                h2.listing-item-title Пара доллар США / канадский доллар будет торговать
                a.listing-link.transition Подробнее
            div.listing-item.flex-container.flex-wrap
                p.listing-time 6 ноября в 22:05
                h2.listing-item-title Пара доллар США / канадский доллар будет торговать
                a.listing-link.transition Подробнее
            div.listing-item.flex-container.flex-wrap
                p.listing-time 6 ноября в 22:05
                h2.listing-item-title Пара доллар США / канадский доллар будет торговать
                a.listing-link.transition Подробнее