section.contact.content-wrap
    .container
        .row
            include ./../user-panel.pug
            .contact-info-wrapper
                .contact-address.text-center
                    p г. Москва, м. Чеховская<br/>Страстной бульвар д.4 стр.2, офис 405 (вход через арку дома 6)
                hr.contact-line
                .contact-address.flex-container.flex-wrap.text-center
                    .contact-address-column.flex-3
                        a.contact-address-link(href="mailto:info@laroom.ru") info@laroom.ru
                    .contact-address-column.flex-3
                        a.contact-address-link(href="tel:74956699316") +7 (495) 6699316
                        br
                        a.contact-address-link(href="tel:79260056855") +7 (926) 0056855
                    .contact-address-column.flex-3
                        p ПН-ПТ 11-00 до 20:00
                        p СБ-ВС 11-00 до 17:00
            div(id="map").full-wide-width

<script>function initMap() {
|         var uluru = {lat: 55.751244, lng: 37.618423};
|         var map = new google.maps.Map(document.getElementById('map'), {
|           zoom: 12,
|           center: uluru
|         });
|         var marker = new google.maps.Marker({
|           position: uluru,
|           map: map,
|           icon: './images/marker.png'
|         });
|       }
</script>
script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB0XXj9W_PDI_kz_UC1vtNV-w5kzQzQ_cQ&callback=initMap")