section.help
    .container
        .row
            div.help-tabs.flex-container
                ul.nav.nav-tabs.flex-container.flex-wrap(role="tablist")
                    li(role="presentation" class="active")
                        a(href="#zakaz" aria-controls="zakaz" role="tab" data-toggle="tab") <span class="tabs-img-wrapper"><img src="./images/done.svg"></span> Как сделать заказ
                    li(role="presentation")
                        a(href="#oplata" aria-controls="oplata" role="tab" data-toggle="tab") <span class="tabs-img-wrapper"><img src="./images/payment.svg"></span> Оплата
                    li(role="presentation")
                        a(href="#dostavka" aria-controls="dostavka" role="tab" data-toggle="tab" id="dostavkas") <span class="tabs-img-wrapper"><img src="./images/delivery.svg"></span> Условия доставки
                    li(role="presentation")
                        a(href="#vozvrat" aria-controls="vozvrat" role="tab" data-toggle="tab") <span class="tabs-img-wrapper"><img src="./images/return.svg"></span> Возврат товара
                    li(role="presentation")
                        a(href="#politika" aria-controls="politika" role="tab" data-toggle="tab") <span class="tabs-img-wrapper"><img src="./images/lock.svg"></span> Конфиденциальность
                div.tab-content
                    div(role="tabpanel" class="tab-pane active" id="zakaz")
                        h1 Как сделать заказ
                        ol
                            li Для просмотра каталога Товаров перейдите во вкладку «МАГАЗИН».
                            li Карточка Товара позволяет Вам детально ознакомиться с понравившимся изделием, прежде чем добавить его в Корзину.
                            li Нажмите на кнопку "ОФОРМИТЬ ЗАКАЗ", для того чтобы перейти к оплате и оплатить товар.
                            li После оформления заказа, Вы также получите электронное письмо с подтверждением Вашего заказа.
                        p Бесплатная услуга «Примерка» и возможность частичной покупки доступны при заказе товара с доставкой в Москве. При доставке заказа курьер подождет 15 минут и Вы сможете выбрать из заказа только то, что Вам подходит. Остальную часть заказа передать курьеру. В случае, если Вам ничего не подошло, вы оплачиваете только стоимость доставки.
                    div(role="tabpanel" class="tab-pane" id="oplata")
                        h1 Оплата
                        ol
                            li Для просмотра каталога Товаров перейдите во вкладку «МАГАЗИН».
                            li Карточка Товара позволяет Вам детально ознакомиться с понравившимся изделием, прежде чем добавить его в Корзину.
                            li После оформления заказа, Вы также получите электронное письмо с подтверждением Вашего заказа.
                        p Бесплатная услуга «Примерка» и возможность частичной покупки доступны при заказе товара с доставкой в Москве. При доставке заказа курьер подождет 15 минут и Вы сможете выбрать из заказа только то, что Вам подходит. Остальную часть заказа передать курьеру. В случае, если Вам ничего не подошло, вы оплачиваете только стоимость доставки.
                    div(role="tabpanel" class="tab-pane" id="dostavka")
                        h1 Условия доставки
                        ol
                            li Для просмотра каталога Товаров перейдите во вкладку «МАГАЗИН».
                            li Вы можете перейти к непосредственной процедуре оформления заказа или продолжить просмотр товаров на нашем сайте.
                        p Бесплатная услуга «Примерка» и возможность частичной покупки доступны при заказе товара с доставкой в Москве. При доставке заказа курьер подождет 15 минут и Вы сможете выбрать из заказа только то, что Вам подходит. Остальную часть заказа передать курьеру. В случае, если Вам ничего не подошло, вы оплачиваете только стоимость доставки.
                    div(role="tabpanel" class="tab-pane" id="vozvrat")
                        h1 Возврат товара
                        ol
                            li Для просмотра каталога Товаров перейдите во вкладку «МАГАЗИН».
                            li Нажмите на кнопку "ОФОРМИТЬ ЗАКАЗ", для того чтобы перейти к оплате и оплатить товар.
                            li После оформления заказа, Вы также получите электронное письмо с подтверждением Вашего заказа.
                        p Бесплатная услуга «Примерка» и возможность частичной покупки доступны при заказе товара с доставкой в Москве. При доставке заказа курьер подождет 15 минут и Вы сможете выбрать из заказа только то, что Вам подходит. Остальную часть заказа передать курьеру. В случае, если Вам ничего не подошло, вы оплачиваете только стоимость доставки.
                    div(role="tabpanel" class="tab-pane" id="politika")
                        h1 Конфиденциальность
                        ol
                            li Для просмотра каталога Товаров перейдите во вкладку «МАГАЗИН».
                            li Карточка Товара позволяет Вам детально ознакомиться с понравившимся изделием, прежде чем добавить его в Корзину.
                            li После оформления заказа, Вы также получите электронное письмо с подтверждением Вашего заказа.
                        p Бесплатная услуга «Примерка» и возможность частичной покупки доступны при заказе товара с доставкой в Москве. При доставке заказа курьер подождет 15 минут и Вы сможете выбрать из заказа только то, что Вам подходит. Остальную часть заказа передать курьеру. В случае, если Вам ничего не подошло, вы оплачиваете только стоимость доставки.