.breadcrumbs
    .container
        .row
            .breadcrumbs-wrapper
                a.breadcrumbs-link(href="#") Главная
                span  /
                a.breadcrumbs-link.current  Книги