.paggination
  a(href='#').paggination__item
    svg(xmlns='http://www.w3.org/2000/svg', width='10.286', height='18', viewbox='0 0 10.286222 18.000005')
      path(d='M3.442 8.998L10.162 2c.17-.173.165-.458-.008-.635L8.952.135c-.173-.177-.454-.18-.623-.008L.12 8.672c-.09.09-.13.21-.12.326-.005.12.035.237.12.326l8.207 8.55c.168.172.45.168.622-.01l1.202-1.23c.173-.176.177-.46.008-.634z', fill='#fff')
  a(href='#').paggination__item 2
  a(href='#').paggination__item 3
  a(href='#').paggination__item 4
  a(href='#').paggination__item 5
  a(href='#').paggination__item.paggination__item--active 6
  a(href='#').paggination__item
    svg(xmlns='http://www.w3.org/2000/svg', width='10.286', height='18', viewbox='0 0 10.286201 18.000038')
      path(d='M6.845 8.998L.125 2c-.17-.173-.166-.458.007-.635L1.334.135c.173-.177.454-.18.623-.008l8.208 8.55c.088.088.128.208.12.325.004.12-.036.237-.12.326l-8.208 8.545c-.17.173-.45.17-.623-.008l-1.202-1.23c-.173-.177-.177-.462-.008-.635z', fill='#fbfbfb')
