.social
	a(href="").vk.social__link
		span.social__vk-icon.icon-
	a(href="").fb.social__link
		span.social__fb-icon.icon-
	a(href="").tw.social__link
		span.social__tw-icon.icon-
	a(href="").gp.social__link
		span.social__gp-icon.icon-