footer#footer.footer
    .footer-sm
        .container
            .flex-container.flex-side.flex-center-v.flex-wrap
                .footer-sm-item
                    .footer__logo-wrap.logo-wrap
                        a(href="/")
                            img.logo.footer__logo(src="./img/logo.png", title="logo", alt="logo")
                .footer-sm-item.flex-container
                    .footer-soc
                        .footer-soc-icon.text-center
                            i.fab.fa-facebook
                        .footer-soc-text.text-center Facebook
                    .footer-soc
                        .footer-soc-icon.text-center
                            i.fab.fa-instagram
                        .footer-soc-text.text-center Instagram
                    .footer-soc
                        .footer-soc-icon.text-center
                            i.fab.fa-google-plus-square
                        .footer-soc-text.text-center Google+
                    .footer-soc
                        .footer-soc-icon.text-center
                            i.fab.fa-twitter
                        .footer-soc-text.text-center Twitter
    .footer-body
        .container
            .row
                .col-md-4.col-sm-6.col-12
                    h4.title-yellow.footer-title About us
                    p.footer-text As a nono-profit organistion we do lots of social activistis, you can find those in the following links.
                .col-md-4.col-sm-6.col-12
                    h4.title-yellow.footer-title About us
                    p.footer-text To stay touch we touch and our works please subscribe our newsletter by entering your email address.
                .col-md-4.col-sm-6.col-12
                    h4.title-yellow.footer-title About us
                    p.footer-text To stay touch we touch and our works please subscribe our newsletter by entering your email address.
    .footer-copyright
        .container
            p.center © 2018 Doggsy - Charity & Activism

div(id='enter' class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true")
    .modal-dialog.modal-dialog-centered(role="document")
        .modal-body
            .modal-content
                button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                    span(aria-hidden="true") &times;
                .modal-title-wrap
                    h3.modal-title.text-center Войдите в аккаунт через соцсети
                .modal-form-wrap
                    a(href="#").modal-btn.mybtn.mybtn-yellow.mybtn-facebook Авторизация через Facebook
                    a(href="#").modal-btn.mybtn.mybtn-yellow.mybtn-google Авторизация через Google+
                .modal-form-divider
                    span.modal-form-divider-text или
                .modal-title-wrap
                    h3.modal-title.text-center Войдите с помощью e-mail
                .modal-form-wrap
                    form.modal-form#modalEnterForm(action="#")
                        .modal-input-wrap
                            input(type="email" placeholder="Введите email").modal-input
                        .modal-input-wrap
                            input(type="password" placeholder="Введите пароль").modal-input
                        .modal-input-btn-wrap.flex-container.flex-side
                            input(type="submit" value="Войти").modal-input.transition
                            a(href="#").modal-input-link Забыли пароль?
div(id='register' class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true")
    .modal-dialog.modal-dialog-centered(role="document")
        .modal-body
            .modal-content
                button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                    span(aria-hidden="true") &times;
                .modal-title-wrap
                    h3.modal-title.text-center Зарегистрируйтесь
                .modal-form-wrap
                    .modal-input-wrap
                        a(href="./reg-sitter.html").modal-input.modal-link.transition Как догситтер
                .modal-form-divider
                    span.modal-form-divider-text или
                .modal-form-wrap
                    .modal-input-wrap
                        a(href="./reg-user.html").modal-input.modal-link.transition Как клиент
div(id='callMe' class="modal fade callMe" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true")
    .modal-dialog.modal-dialog-centered(role="document")
        .modal-body
            .modal-content
                button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                    span(aria-hidden="true") &times;
                .modal-title-wrap
                    h2.modal-title.text-center У вас есть вопросы?<br/ >Давайте мы перезвоним вам
                    p.modal-text.text-center Наш оператор позвонит вам, проконсультирует и бесплатно подберет ситтера, если необходимо!
                form(action="#").modal-form-wrap
                    .modal-input-wrap
                        input.modal-input(type="tel" name="callMeTel" placeholder="+38(050)XXX-XX-XX")
                    .modal-input-wrap.text-center
                        input.modal-input(type="submit" value="Жду звонка")
                .modal-text-wrap
                    p.modal-text.text-center Служба подбора догситтеров работает с 9:00 до 22:45 по московскому времени.
                    p.modal-text.text-center Если у вас экстренный вопрос, позвоните на горячую линию — <b>8 800 200-60-57</b> или <b>+7 499 112-44-50</b>
