footer.footer#footer
    .container
        .row
            .footer__flex-container.flex-container
                .footer__flex-item
                    ul.footer__column
                        li.footer__column-item LAROOM
                        li.footer__column-item
                            a(href="#").footer__column-link Марка
                        li.footer__column-item
                            a(href="#").footer__column-link Коллекции
                        li.footer__column-item
                            a(href="#").footer__column-link Блог
                        li.footer__column-item
                            a(href="#").footer__column-link Контакты
                .footer__flex-item
                    ul.footer__column
                        li.footer__column-item МАГАЗИН
                        li.footer__column-item
                            a(href="#").footer__column-link Каталог
                        li.footer__column-item
                            a(href="#").footer__column-link Мои заказы
                        li.footer__column-item
                            a(href="#").footer__column-link Корзина
                        li.footer__column-item
                            a(href="#").footer__column-link Избранное
                .footer__flex-item
                    ul.footer__column
                        li.footer__column-item ПОМОЩЬ
                        li.footer__column-item
                            a(href="#").footer__column-link Как сделать заказ
                        li.footer__column-item
                            a(href="#").footer__column-link Оплата
                        li.footer__column-item
                            a(href="#").footer__column-link Условия доставки
                        li.footer__column-item
                            a(href="#").footer__column-link Возврат товара
                        li.footer__column-item
                            a(href="#").footer__column-link Конфиденциальность
                .footer__flex-item.footer__flex-item-info
                    ul.footer__column
                        li.footer__column-item.socicon-wrapper
                            img(src="./images/svg/vk.svg").socicon
                            img(src="./images/svg/twitter.svg").socicon
                        li.footer__column-item.footer-phone +7 495 308 90 90
                        li.footer__column-item.footer-address г. Москва, Бережковская наб. 12, офис 42
                        li.footer__column-item.footer-email
                            a(href="mailto:info@laroom.ru") info@laroom.ru