footer#footer.footer
    .footer-sm
        .container
            .flex-container.flex-side.flex-center-v.flex-wrap
                .footer-sm-item
                    .footer__logo-wrap.logo-wrap
                        a(href="/")
                            img.logo.footer__logo(src="./img/logo.png", title="logo", alt="logo")
                .footer-sm-item.flex-container
                    .footer-soc
                        .footer-soc-icon.text-center
                            i.fab.fa-facebook
                        .footer-soc-text.text-center Facebook
                    .footer-soc
                        .footer-soc-icon.text-center
                            i.fab.fa-instagram
                        .footer-soc-text.text-center Instagram
                    .footer-soc
                        .footer-soc-icon.text-center
                            i.fab.fa-google-plus-square
                        .footer-soc-text.text-center Google+
                    .footer-soc
                        .footer-soc-icon.text-center
                            i.fab.fa-twitter
                        .footer-soc-text.text-center Twitter
    .footer-body
        .container
            .row
                .col-md-4.col-sm-6.col-12
                    h4.title-yellow.footer-title About us
                    p.footer-text As a nono-profit organistion we do lots of social activistis, you can find those in the following links.
                .col-md-4.col-sm-6.col-12
                    h4.title-yellow.footer-title About us
                    p.footer-text To stay touch we touch and our works please subscribe our newsletter by entering your email address.
                .col-md-4.col-sm-6.col-12
                    h4.title-yellow.footer-title About us
                    p.footer-text To stay touch we touch and our works please subscribe our newsletter by entering your email address.
    .footer-copyright
        .container
            p.center © 2018 Doggsy - Charity & Activism