header#header.header
    .container
        .row
            .header__flex-container.flex-container
                .header__logo-wrap.logo-wrap
                    a(href="/")
                        img.logo.header__logo(src="./img/logo.png", title="logo", alt="logo")
                a#toggleMenu.toggleMenu(href="#")
                    span
                ul.menu
                #langToggle.langToggle
                    ul.langToggle__list
                        li.langToggle__item EN
                        li.langToggle__item UA
