//script(src="https://maps.google.com/maps/api/js?sensor=false&libraries=geometry&v=3.22&key=AIzaSyDXxt25L07gPgZKMHPZSK7mj0obyHqwPqc")
script(src="./external/bootstrap/js/bootstrap.min.js")
script(src="./external/jquery-ui/jquery-ui.min.js")
script(src="./external/jquery.validate/jquery.validate.min.js")
script(src="./external/mobile-detect/mobile-detect.min.js")
script(src="./external/jquery.steps/jquery.steps.min.js")
script(src="./external/slick/slick.min.js")
script(src="./external/rateYo/rateYo.min.js")
script(src="./external/nouislider/nouislider.min.js")
script(src="./external/swipebox-master/jquery.swipebox.js")
script(src="./external/jquery.fullpage/jquery.fullpage.js")
script(src="./external/animate/wow.min.js")
script(src="./js/application.js")