script(src="./external/bootstrap/js/bootstrap.min.js")
script(src="./external/slick/slick.min.js")
script(src="./external/jquery-ui/jquery-ui.min.js")
script(src="./external/animate/wow.min.js")
script(src="./js/application.js")