.sidebar
    .sidebar__user.sidebar-item.text-center
        img.sidebar__user-img(src="https://via.placeholder.com/300x200" alt="user" title="user")
        h4.sidebar__user-title Елена
        p.sidebar__user-text.user-age 28 лет
        p.sidebar__user-text.user-price 1000 грн / сутки
        a(href="#").mybtn.user-mybtn Связаться
        p.sidebar__user-text.user-address метро Академгородок
        p.sidebar__user-text Средняя оценка:
        .testimonials-rate
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
        p.text-left.sidebar__user-text.user-orders <b>Заказов: </b> 288
        p.text-left.sidebar__user-text.user-orders <b>Отзывов: </b> 30
            a(href="#") (смотреть все отзывы)
    .sidebar__veri.sidebar-item
        p.sidedar__veri-title Верифицирован
        p.sidedar__veri-text.veri-date 23 января 2016г.
        p.sidebar__veri-list-title Что это значит?
        ul.sidebar__veri-list
            li.sidebar__veri-item 11111
            li.sidebar__veri-item 22222
            li.sidebar__veri-item 33333
            li.sidebar__veri-item 44444
    .sidebar__date.sidebar-item
        p Календарь
        p Календарь
        p Календарь
        p Календарь
        p Календарь
    .sidebar__add.sidebar-item
        p.sidebar__add-list-title Дополнительные услуги
            ul.sidebar__add-list
                li.sidebar__add-item Услуга 1
                li.sidebar__add-item Услуга 2
                li.sidebar__add-item Услуга 3
                li.sidebar__add-item Услуга 4