section.search__panel(style="background: #fafafa")
    .container
        .row
            .col-12
                h1.card__user-panel-text Найти догситтера
                p ТУТ БУДЕТ БОЛЬШАЯ ФОРМА !
section.section-padding.search__list
    .container
        .row
            .col-md-8.col-sm-12.col-12
                .search-filters(style="margin-bottom: 100px") FILTERS
                .search-result-wrap.card__comments
                    .testimonials-item
                        img(src="https://via.placeholder.com/150" alt="" title="").testimonials-img
                        .testimonials-wrap
                            h4.custom-line.testimonials-title Pett Doe
                            p.testimonials-text Декабрь 2019
                            .testimonials-quote
                                p Anima is one of the biggest pet rescue organsation in USA. The people of this organisation are very engergatic, hard working and also friendly. It’s a great honor for me to work with them in several projects and events.
                            .testimonials-rate
                                i.fas.fa-star
                                i.fas.fa-star
                                i.fas.fa-star
                                i.fas.fa-star
                    .testimonials-item
                        img(src="https://via.placeholder.com/150" alt="" title="").testimonials-img
                        .testimonials-wrap
                            h4.custom-line.testimonials-title Pett Doe
                            p.testimonials-text Декабрь 2019
                            .testimonials-quote
                                p Anima is one of the biggest pet rescue organsation in USA. The people of this organisation are very engergatic, hard working and also friendly. It’s a great honor for me to work with them in several projects and events.
                            .testimonials-rate
                                i.fas.fa-star
                                i.fas.fa-star
                                i.fas.fa-star
                                i.fas.fa-star
                    .testimonials-item
                        img(src="https://via.placeholder.com/150" alt="" title="").testimonials-img
                        .testimonials-wrap
                            h4.custom-line.testimonials-title Pett Doe
                            p.testimonials-text Декабрь 2019
                            .testimonials-quote
                                p Anima is one of the biggest pet rescue organsation in USA. The people of this organisation are very engergatic, hard working and also friendly. It’s a great honor for me to work with them in several projects and events.
                            .testimonials-rate
                                i.fas.fa-star
                                i.fas.fa-star
                                i.fas.fa-star
                                i.fas.fa-star
                    .testimonials-item
                        img(src="https://via.placeholder.com/150" alt="" title="").testimonials-img
                        .testimonials-wrap
                            h4.custom-line.testimonials-title Pett Doe
                            p.testimonials-text Декабрь 2019
                            .testimonials-quote
                                p Anima is one of the biggest pet rescue organsation in USA. The people of this organisation are very engergatic, hard working and also friendly. It’s a great honor for me to work with them in several projects and events.
                            .testimonials-rate
                                i.fas.fa-star
                                i.fas.fa-star
                                i.fas.fa-star
                                i.fas.fa-star
                    .testimonials-item
                        img(src="https://via.placeholder.com/150" alt="" title="").testimonials-img
                        .testimonials-wrap
                            h4.custom-line.testimonials-title Pett Doe
                            p.testimonials-text Декабрь 2019
                            .testimonials-quote
                                p Anima is one of the biggest pet rescue organsation in USA. The people of this organisation are very engergatic, hard working and also friendly. It’s a great honor for me to work with them in several projects and events.
                            .testimonials-rate
                                i.fas.fa-star
                                i.fas.fa-star
                                i.fas.fa-star
                                i.fas.fa-star
            .col-md-4.d-sm-none.d-md-block
                .sidebar.sidebar__top
                    .sidebar-item
                        h2.sidebar__top-title.text-center Топовые догситтеры
                        .sidebar__user.text-center
                            img.sidebar__user-img(src="https://via.placeholder.com/150x100" alt="user" title="user")
                            h4.sidebar__user-title Елена
                            p.sidebar__user-text.user-price 1000 грн / сутки
                            a(href="#").mybtn.user-mybtn Связаться
                            .testimonials-rate
                                i.fas.fa-star
                                i.fas.fa-star
                                i.fas.fa-star
                                i.fas.fa-star
                                i.fas.fa-star
                        .sidebar__user.text-center
                            img.sidebar__user-img(src="https://via.placeholder.com/150x100" alt="user" title="user")
                            h4.sidebar__user-title Елена
                            p.sidebar__user-text.user-price 1000 грн / сутки
                            a(href="#").mybtn.user-mybtn Связаться
                            .testimonials-rate
                                i.fas.fa-star
                                i.fas.fa-star
                                i.fas.fa-star
                                i.fas.fa-star
                                i.fas.fa-star
                        .sidebar__user.text-center
                            img.sidebar__user-img(src="https://via.placeholder.com/150x100" alt="user" title="user")
                            h4.sidebar__user-title Елена
                            p.sidebar__user-text.user-price 1000 грн / сутки
                            a(href="#").mybtn.user-mybtn Связаться
                            .testimonials-rate
                                i.fas.fa-star
                                i.fas.fa-star
                                i.fas.fa-star
                                i.fas.fa-star
                                i.fas.fa-star
                        .sidebar__user.text-center
                            img.sidebar__user-img(src="https://via.placeholder.com/150x100" alt="user" title="user")
                            h4.sidebar__user-title Елена
                            p.sidebar__user-text.user-price 1000 грн / сутки
                            a(href="#").mybtn.user-mybtn Связаться
                            .testimonials-rate
                                i.fas.fa-star
                                i.fas.fa-star
                                i.fas.fa-star
                                i.fas.fa-star
                                i.fas.fa-star