main.main
    section#mainSlider.mainSlider
        div.mainSlider-item.flex-container.flex-center.sublayout(style="background-image:url(./img/dog.jpg)")
            .container
                .slider-content-wrap
                    h1.main-title.title-yellow Возьмем собаку в гости пока вы в отъезде
                    p.main-text С кем оставить собаку, пока вы в отъезде? Забронируйте догситтера, который возьмет вашу собаку к себе в дом и будет заботиться о ней как вы.
                    .main-btn-wrap.flex-container.flex-side
                        a(href="#").mybtn.mybtn-yellow Choose sitter 1
                        a(href="#").mybtn.mybtn-yellow Book again 1
        div.mainSlider-item.flex-container.flex-center(style="background-image:url(./img/dog.jpg)")
            .container
                .slider-content-wrap
                    h1.main-title.title-yellow Возьмем собаку в гости пока вы в отъезде 2
                    p.main-text С кем оставить собаку, пока вы в отъезде? Забронируйте догситтера, который возьмет вашу собаку к себе в дом и будет заботиться о ней как вы.
                    .main-btn-wrap.flex-container.flex-side
                        a(href="#").mybtn.mybtn-yellow Choose sitter 2
                        a(href="#").mybtn.mybtn-yellow Book again 2
    section.section-padding.who
        .container
            .row
                .col-12
                    .heading.flex-container
                        h2.heading-title.custom-line С кем оставить собаку?
                        p.heading-text Your small contribution make a huge difference and encourage us to continue our works of success. Your small contribution make a huge difference and encourage us to continue our works of success.
                .col-md-4.col-sm-6.col-6
                    .who-wrap
                        img.who-img(src="https://via.placeholder.com/300x220" alt="" title="")
                        h4.who-text.text-thin Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, pariatur!
                .col-md-4.col-sm-6.col-6
                    .who-wrap
                        img.who-img(src="https://via.placeholder.com/300x220" alt="" title="")
                        h4.who-text.text-thin Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, pariatur!
                .col-md-4.col-sm-6.col-6
                    .who-wrap
                        img.who-img(src="https://via.placeholder.com/300x220" alt="" title="")
                        h4.who-text.text-thin Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, pariatur!
    section.security
        .container-fluid
            .row
                .column-full.column-full-6.column-full-img.custom-order-sm-0(style="background-image: url(https://via.placeholder.com/600x250)")
                .column-full.column-full-6.column-full-text.custom-order-sm-1
                    h4.security-title.text-font-main.custom-line Every year
                    p Every year hundreds of animals such as dogs, cats are become homeless for many reasons. Our mission is to find out the homless animals around the country and make a better life for them. As like human they need love, care and also need home. We founded our organisation to give them a better life and better home. Our successes are going forward and throughtout the year we give a better life around hundreds of homless animals.
                .column-full.column-full-6.column-full-text.custom-order-sm-3
                    h4.security-title.text-font-main.custom-line Every year
                    p Every year hundreds of animals such as dogs, cats are become homeless for many reasons. Our mission is to find out the homless animals around the country and make a better life for them. As like human they need love, care and also need home. We founded our organisation to give them a better life and better home. Our successes are going forward and throughtout the year we give a better life around hundreds of homless animals.
                .column-full.column-full-6.column-full-img.custom-order-sm-2(style="background-image: url(https://via.placeholder.com/300x120)")
                .column-full.column-full-3.column-full-img.custom-order-sm-4(style="background-image: url(https://via.placeholder.com/600x250)")
                .column-full.column-full-3.column-full-text.custom-order-sm-5
                    h4.security-title.text-font-main.custom-line Every year
                    p Every year hundreds of animals such as dogs, cats are become homeless for many reasons. Our mission is to find out the homless animals around the country and make a better life for them. As like human they need love, care and also need home. We founded our organisation to give them a better life and better home.
                .column-full.column-full-3.column-full-img.custom-order-sm-7(style="background-image: url(https://via.placeholder.com/300x120)")
                .column-full.column-full-3.column-full-text.custom-order-sm-6
                    h4.security-title.text-font-main.custom-line Every year
                    p Every year hundreds of animals such as dogs, cats are become homeless for many reasons. Our mission is to find out the homless animals around the country and make a better life for them. As like human they need love, care and also need home. We founded our organisation to give them a better life and better home.
    section.section-padding.social
        .container
            .row
                .col-12
                    .heading.flex-container
                        h2.heading-title.custom-line Мы в соцсетях
                        p.heading-text Your small contribution make a huge difference and encourage us to continue our works of success. Your small contribution make a huge difference and encourage us to continue our works of success.
                    .social-wrap.flex-container
                        a(href="#").social-item.transition
                            .social-icon.text-center.transition
                                i.fab.fa-facebook
                            .social-text.text-center Facebook
                        a(href="#").social-item.transition
                            .social-icon.text-center.transition
                                i.fab.fa-instagram
                            .social-text.text-center Instagram
                        a(href="#").social-item.transition
                            .social-icon.text-center.transition
                                i.fab.fa-twitter
                            .social-text.text-center Twitter
                        a(href="#").social-item.transition
                            .social-icon.text-center.transition
                                i.fab.fa-google
                            .social-text.text-center Google +
    section.section-padding.color-lightGrey.sitter-grid
        .container
            .row
                .col-12
                    .heading.flex-container.orange
                        h2.heading-title.custom-line Догситтеры
                        p.heading-text Your small contribution make a huge difference and encourage us to continue our works of success. Your small contribution make a huge difference and encourage us to continue our works of success.
                .col-6.col-sm-6.col-md-3
                    .sitter-card
                        img(src="https://via.placeholder.com/250x200" alt="" title="").sitter-img
                        h3.sitter-title.custom-line Super dogsitter
                        p.sitter-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse illum nobis nostrum provident quae quo quod sint, soluta velit voluptatem!
                        a(href="#").sitter-link.mybtn Связаться
                .col-6.col-sm-6.col-md-3
                    .sitter-card
                        img(src="https://via.placeholder.com/250x200" alt="" title="").sitter-img
                        h3.sitter-title.custom-line Super dogsitter
                        p.sitter-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse illum nobis nostrum provident quae quo quod sint, soluta velit voluptatem!
                        a(href="#").sitter-link.mybtn Связаться
                .col-6.col-sm-6.col-md-3
                    .sitter-card
                        img(src="https://via.placeholder.com/250x200" alt="" title="").sitter-img
                        h3.sitter-title.custom-line Super dogsitter
                        p.sitter-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse illum nobis nostrum provident quae quo quod sint, soluta velit voluptatem!
                        a(href="#").sitter-link.mybtn Связаться
                .col-6.col-sm-6.col-md-3
                    .sitter-card
                        img(src="https://via.placeholder.com/250x200" alt="" title="").sitter-img
                        h3.sitter-title.custom-line Super dogsitter
                        p.sitter-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse illum nobis nostrum provident quae quo quod sint, soluta velit voluptatem!
                        a(href="#").sitter-link.mybtn Связаться
    section.section-padding.testimonials
        .container
            .row
                .col-12
                    .heading.flex-container
                        h2.heading-title.custom-line Счетчик довольных клиентов
                        p.heading-text Your small contribution make a huge difference and encourage us to continue our works of success. Your small contribution make a huge difference and encourage us to continue our works of success.
                .col-12
                    #testimonialsSlider.testimonialsSlider
                        div.testimonials-item
                            img(src="https://via.placeholder.com/250x200" alt="" title="").testimonials-img
                            .testimonials-wrap
                                .testimonials-quote
                                    p Anima is one of the biggest pet rescue organsation in USA. The people of this organisation are very engergatic, hard working and also friendly. It’s a great honor for me to work with them in several projects and events.
                                        i.fas.fa-quote-left
                                h4.custom-line.testimonials-title Pett Doe
                                p.testimonials-text  Doctor - Love for Pet
                        div.testimonials-item
                            img(src="https://via.placeholder.com/250x200" alt="" title="").testimonials-img
                            .testimonials-wrap
                                .testimonials-quote
                                    p Anima is one of the biggest pet rescue organsation in USA. The people of this organisation are very engergatic, hard working and also friendly. It’s a great honor for me to work with them in several projects and events.
                                        i.fas.fa-quote-left
                                h4.custom-line.testimonials-title John Doe
                                p.testimonials-text  Doctor - Love for Pet
                        div.testimonials-item
                            img(src="https://via.placeholder.com/250x200" alt="" title="").testimonials-img
                            .testimonials-wrap
                                .testimonials-quote
                                    p Anima is one of the biggest pet rescue organsation in USA. The people of this organisation are very engergatic, hard working and also friendly. It’s a great honor for me to work with them in several projects and events.
                                        i.fas.fa-quote-left
                                h4.custom-line.testimonials-title Coul Doe
                                p.testimonials-text  Doctor - Love for Pet
                        div.testimonials-item
                            img(src="https://via.placeholder.com/250x200" alt="" title="").testimonials-img
                            .testimonials-wrap
                                .testimonials-quote
                                    p Anima is one of the biggest pet rescue organsation in USA. The people of this organisation are very engergatic, hard working and also friendly. It’s a great honor for me to work with them in several projects and events.
                                        i.fas.fa-quote-left
                                h4.custom-line.testimonials-title Mary Doe
                                p.testimonials-text  Doctor - Love for Pet

