main.main
    section#mainSlider.mainSlider
        div.mainSlider-item.flex-container.flex-center(style="background-image:url(./img/dog.jpg)")
            .container
                .slider-content-wrap
                    h1.main-title.title-yellow Возьмем собаку в гости пока вы в отъезде
                    p.main-text С кем оставить собаку, пока вы в отъезде? Забронируйте догситтера, который возьмет вашу собаку к себе в дом и будет заботиться о ней как вы.
                    .main-btn-wrap.flex-container.flex-side
                        a(href="#").mybtn.mybtn-yellow Choose sitter 1
                        a(href="#").mybtn.mybtn-yellow Book again 1
        div.mainSlider-item.flex-container.flex-center(style="background-image:url(./img/dog.jpg)")
            .container
                .slider-content-wrap
                    h1.main-title.title-yellow Возьмем собаку в гости пока вы в отъезде 2
                    p.main-text С кем оставить собаку, пока вы в отъезде? Забронируйте догситтера, который возьмет вашу собаку к себе в дом и будет заботиться о ней как вы.
                    .main-btn-wrap.flex-container.flex-side
                        a(href="#").mybtn.mybtn-yellow Choose sitter 2
                        a(href="#").mybtn.mybtn-yellow Book again 2
    section.section-padding
        .container
            .row
                .col-4
                    .element asd
                .col-4
                    .element asd
                .col-4
                    .element asd
                .col-4
                    .element asd