main.main
    section.section-padding
        .container
            .row(style="padding: 400px 0")
                .col-12 1
                .col-12 2
                .col-12 3
                .col-12 4
                .col-12 5
                .col-12 6
                .col-12 7
                .col-12 8
                .col-12 9
                .col-12 10