// main page
.main-page {
  .main {
    margin-top: 0;
  }
}

.mainSlider {
  position: relative;
  &-item {
    height: 100vh;
    background: center/cover no-repeat;
    display: flex !important;
  }
  .slick {
    &-arrow {
      outline: none;
      position: absolute;
      width: 40px;
      top: calc(50% - 20px);
      z-index: 40;
      color: #fff;
      font-size: 18px;
      transform: translateY(-50%);
      margin: 0;
      background: rgba(0, 0, 0, 0.4);
      padding: 27px 10px;
      transition: all 0.3s;
      text-align: center;
      &:hover {
        background: rgba(0, 0, 0, 0.6);
      }
      @media #{$max768} {
        width: 25px;
        padding: 15px 0;
      }
    }
    &-prev {
      left: 0;
    }
    &-next {
      right: 0;
    }
  }
  .main-title {

  }
  .main-text {
    margin: 20px 0;
    font-size: responsive 16px 18px;
  }
  .main-btn-wrap {
    max-width: 320px;
    margin: 0 auto;
    flex-wrap: wrap;
    @media #{$max520} {
      max-width: 100%;
    }
    a {
      font-size: responsive 14px 16px;
      @media #{$max520} {
        width: 100%;
      }
      &:hover {
        background-color: transparent;
        color: $yellow;
      }
    }
  }
  .slider-content-wrap {
    margin: auto;
    max-width: 600px;
    text-align: center;
    @media #{$max768} {
      max-width: 80%;
    }
  }
}

.who {
  &-wrap {
    margin: 35px 0 50px;
    @media #{$max768} {
      margin: 25px 0 0;
    }
    @media #{$max576} {
      text-align: center;
    }
  }
  &-text {
    text-align: center;
  }
  &-img {
    margin-bottom: 10px;
    display: block;
    width: 100%;
    max-width: 100%;
    @media #{$max576} {
      display: inline-block;
      width: auto;
    }
  }
}

.security {
  background-color: $yellow;
  .column-full {
    padding: 45px 30px 30px;
    background-color: $yellow;
    @media #{$max768} {
      padding: 30px 20px 20px;
    }
    &-img {
      background: center/cover no-repeat;
    }
    &-text {
      flex-wrap: wrap;
      & > * {
        flex-basis: 100%;
      }
      .security-title {
        color: $titleBlueColor;
        margin-bottom: 25px;
        &:before {
          background-color: $titleBlueColor;
        }
      }
      p {
        font-family: $secondFont;
        font-weight: 300;
      }
    }
  }
}

.social {
  &-wrap {
    justify-content: center;
    @media #{$max576} {
      flex-wrap: wrap;
    }
  }
  &-item {
    margin: 0 10px;
    padding: 0 15px 5px;
    border-radius: 5px;
    @media #{$max576} {
      flex: 0 1 30%;
      margin-bottom: 10px;
    }
    &:hover {
      background-color: $yellow;
      transition: .25s;
      .social-icon, .social-text {
        transition: .25s;
        color: $titleBlackColor;
      }
    }
  }
  &-text {
    text-transform: uppercase;
  }
  &-icon {
    color: $yellow;
    font-size: responsive 48px 62px;
  }
}

.sitter {
  &-title {
    margin: 20px 0;
    &.custom-line:before {
      background-color: $orange;
      bottom: -10px;
    }
  }
  &-link {
    margin-top: 30px;
    @media #{$max576} {
      margin-top: 10px;
    }
  }
  &-card {
    @media #{$max768} {
      margin-bottom: 50px;
    }
  }
}

.testimonials {
  &-item {
    display: flex !important;
    position: relative;
    @media #{$max576} {
      flex-wrap: wrap;
    }
  }
  &-wrap {
    padding-left: 30px;
    @media #{$max576} {
      position: relative;
      top: -40px;
      padding-left: 80px;
    }
    @media #{$max576} {
      top: -35px;
      padding-left: 40px;
    }
  }
  &-text {
    font-weight: 300;
    margin: 20px 0;
  }
  &-quote {
    background-color: $middleGrey;
    margin: 30px 0;
    padding: 30px 45px 15px;
    font-style: italic;
    line-height: 2;
    @media #{$max768} {
      margin: 20px 0;
      line-height: 1.6;
      padding: 20px 40px 15px;
    }
    p {
      position: relative;
    }
    svg {
      position: absolute;
      left: -24px;
      top: 5px;
      font-size: 16px;
    }
  }
  &-img {
    align-self: flex-start;
  }

  .slick-dots {
    display: flex !important;
    margin: 50px 0;
    justify-content: center;
    @media #{$max576} {
      margin: 15px 0;
    }
    li {
      font-size: 0;
      width: 15px;
      height: 15px;
      background-color: $middleGrey;
      margin: 0 5px;
      cursor: pointer;
      &:hover {
        background-color: $middleGrey * .9;
      }
      &.slick-active {
        background-color: $yellow;
      }
    }
  }
}

// eof main page

// card page
.card {
  &__user {
    &-panel {
      padding: 35px 0;
      @media #{$max768} {
        padding: 20px 0;
      }
      &-wrap {
        align-items: center;
      }
      &-avatar {
        border-radius: 50%;
      }
      &-text {
        margin-bottom: 0;
        font-weight: 400;
      }
    }
    &-info {

    }
  }
  &__dogs {
    margin-bottom: 120px;
    .more {
      font-style: italic;
      font-family: $secondFont;
      font-size: 15px;
      font-weight: 300;
      text-decoration: underline;
      position: absolute;
      right: 5px;
      bottom: 0;
      z-index: 27;
      cursor: pointer;
      @media #{$max576} {
        display: none;
      }
      &:hover {
        text-decoration: none;
      }
    }
    &-main {
      margin-bottom: 20px;
    }
    &-wrap {
      margin-bottom: 15px;
      padding: 0 20px 20px;
      max-height: 160px;
      position: relative;
      overflow: hidden;
      transition: .4s;
      @media #{$max1200} {
        padding-left: 10px;
        padding-right: 10px;
      }
      @media #{$max992} {
        padding-left: 0;
        padding-right: 0;
      }
      @media #{$max768} {
        max-height: 155px;
        margin-bottom: 30px;
      }
      @media #{$max576} {
        max-height: 100%;
      }
      &.open {
        max-height: 100%;
      }
      //&:after {
      //  content: '';
      //  position: absolute;
      //  left: 0;
      //  right: 0;
      //  bottom: 0;
      //  height: 12px;
      //  opacity: .5;
      //  background-color: indigo;
      //}
    }
    &-title {
      font-weight: 600;
      margin: 20px 0;
    }
    &-text {
      font-size: 15px;
      margin-bottom: 5px;
      @media #{$max1200} {
        font-size: 14px;
      }
      b {
        font-weight: 600;
        font-family: $secondFont;
      }
    }
  }
  &__detail {
    margin-bottom: 120px;
    &-wrap {
      margin-bottom: 15px;
    }
    &-heading {
      font-weight: 600;
      font-family: $secondFont;
    }
    &-text {

    }
  }
  &__comments {
    .testimonials-wrap {
      @media #{$max576} {
        top: 0;
        padding-left: 0;
        margin-top: 20px;
      }
    }
    .testimonials-item {
      margin-bottom: 75px;
      @media #{$max576} {
        margin-bottom: 55px;
      }
    }
    .testimonials-quote {
      margin: 0;
      padding: 0;
      background: #fff;
      line-height: 1.3;
      font-style: normal;
      font-weight: 300;
    }
    .testimonials-text {
      font-weight: 300;
      font-size: 12px;
      margin: 15px 0 10px;
    }
    .testimonials-img {
      border-radius: 50%;
    }
  }
  &-sitter {
    &-sliders {
      .card-sitterMainSlider {
        &-item {
          border: 1px solid $yellow;
          padding: 3px;
        }
        &-img {
          width: 100%;
        }
      }
      .card-sitterNavSlider {
        position: relative;
        margin-top: 20px;
        &-item {
          padding: 3px;
          cursor: pointer;
          &.slick-current.slick-active {
            //border: 1px solid $yellow;
            //padding: 2px;
          }
        }
        &-img {
          max-height: 100px;
        }
        .slick {
          &-arrow {
            outline: none;
            position: absolute;
            width: 40px;
            height: 100%;
            top: 0;
            z-index: 40;
            color: #fff;
            font-size: 16px;
            margin: 0;
            background: rgba(0, 0, 0, 0.5);
            padding: 20px 8px;
            transition: all 0.3s;
            text-align: center;
            &:hover {
              background: rgba(0, 0, 0, 0.7);
            }
            @media #{$max768} {
              width: 24px;
              padding: 10px 0;
            }
          }
          &-prev {
            left: 0;
            display: none !important;
          }
          &-next {
            right: 3px;
          }
        }
      }
    }
    &-info {
      &__title {
        margin: 50px 0 35px;
      }
      &__text {
        margin-bottom: 10px;
      }
    }
    &__achives {
      margin-top: 60px;
      .card__dogs-wrap {
        padding: 0;
      }
      .card__dogs-title {
        font-weight: 300;

      }
      .card__dogs-img {

      }
    }
  }
}

.testimonials-rate {
  margin-top: 10px;
  color: $yellow;
  font-size: 22px;
  & > * {
    margin-right: 5px;
  }
}

// eof card page

// search page
.search {
  &__wrap {
    padding: 35px 0;
  }
  &__column {
    margin-bottom: 30px;
    &-hide {
      display: none;
    }
  }
  &__label {
    font-weight: 500;
    margin-bottom: 10px;
    font-family: $secondFont;
    &-date {
      display: flex;
      align-items: center;
      width: 230px;
      height: 36px;
      background: #fff;
      padding: 5px 10px;
      cursor: pointer;
      border: 1px solid $orange;
      @media #{$max576} {
        width: 100%;
      }
      span {
        display: inline-block;
        width: 25px;
      }
      input {
        cursor: pointer;
        margin-left: 10px;
      }
    }
    &-wrap {
      background: #fff;
      border: 1px solid $orange;
      color: $orange;
      font-weight: 300;
      font-size: responsive 13px 15px;
      margin-left: 0;
      margin-right: 3px;
      margin-bottom: 3px;
      border-radius: 0;
      &.ui-state-active {
        background: $orange;
        border: 1px solid $orange;
        font-weight: 300;
        color: #fff;
        &:hover {
          background: $orange;
          border: 1px solid $orange;
          font-weight: 300;
          color: #fff;
        }
      }
      &.ui-visual-focus {
        box-shadow: none;
      }
      &:hover {
        background: $orange;
        border: 1px solid $orange;
        font-weight: 300;
        color: #fff;
      }
      .ui-icon {
        display: none;
      }
    }
  }
  &__input {
    &-wrap {
      display: flex;
      flex-wrap: wrap;
      &-price {
        .priceRange {
          border-radius: 0;
          border: 1px solid $orange;
          background: #fff;
          height: 6px;
          margin-top: 15px;
          .ui-slider-range {
            background: $orange;
          }
          .ui-slider-handle {
            background: #fff;
            border: 1px solid $orange;
            height: 16px;
            width: 16px;
            border-radius: 0;
            cursor: pointer;
            top: -6px;
            &.ui-state-active {
              background-color: $orange;
            }
          }
        }
        .priceInput {
          width: 100%;
          display: block;
          margin-top: 12px;
          color: #ff9d00;
          border: 0;
          text-align: center;
          font-weight: 400;
          font-size: 13px;
          font-family: $mainFont;
        }
      }
      .nice-select {
        border-radius: 0;
        border: 1px solid $orange;
        width: 230px;
        height: 36px;
        display: flex;
        align-items: center;
        @media #{$max576} {
          width: 100%;
        }
        .list {
          border-radius: 0;
          border: 1px solid orange;
          box-shadow: none;
          min-width: 100%;
          .option {
            &.selected {
              background-color: $middleGrey;
              cursor: default;
            }
            &:hover {
              background-color: $middleGrey;
            }
          }
        }
      }
    }
  }
  &__add {
    &-wrap {
      display: flex;
      justify-content: flex-end;
      @media #{$max400} {
        flex-direction: column-reverse;
        align-items: flex-end;
      }
    }
    &-link {
      color: $orange;
      font-size: 13px;
      margin-left: 30px;
      display: flex;
      align-items: center;
      @media #{$min992} {
        min-width: 120px;
      }
      @media #{$max400} {
        margin-left: 0;
        margin-bottom: 10px;
      }
      span {
        margin-left: 5px;
      }
      &:hover {
        text-decoration: underline;
        color: $orange;
      }
      &:active, &:focus {
        color: $orange;
      }
    }
  }
  &__title {
    margin-bottom: 35px;
    font-weight: 400;
  }
  &-result-wrap {
    .testimonials-img {
      width: 150px;
    }
  }
}
// ui-datepicker
.ui-datepicker {
  z-index: 1200 !important;
  tbody {
    tr {
      td {
        .ui-state-default {
          background: #fff;
          border: 1px solid;
          color: $orange;
          &.ui-state-active {
            background: $orange;
            color: #fff;
            border: 1px solid $orange;
          }
          &.ui-state-highlight {
            border: 1px solid $orange;
            background: $orange;
            color: #fff;
          }
          &:hover {
            border: 1px solid rgba(243,160,47,.8);
            background: rgba(243,160,47,.8);
            color: #fff;
          }
        }
      }
    }
  }
}
// eof ui-datepicker

// eof search page


// register page

// common
.big-box {
  max-width: 660px;
  width: 100%;
  border: 3px solid $orange;
  margin-left: auto;
  margin-right: auto;
  padding: 45px 30px;
  margin-bottom: 50px;
  @media #{$max768} {
    padding: 30px 20px;
  }
  .modal-content {
    padding: 0;
  }
  &.no-border {
    border-color: transparent;
    margin-top: -120px;
  }
}
.reg {
  &-form {
    &-wrap {

    }
  }
  &-title {
    font-size: responsive 24px 32px;
    margin-bottom: 20px;
  }
  &-text {
    font-size: responsive 13px 14px;
  }
  &-list {
    padding-left: 20px;
    &-item {
      font-size: 12px;
      color: $orange;
      list-style-type: disc;
      margin-bottom: 8px;
      span {
        color: $mainColor;
      }
    }
  }
  &-btn {
    font-weight: 400;
  }
  &-text {

  }
  &-column {
    margin-bottom: 25px;
    &-soc {
      margin-bottom: 10px;
    }
  }
  &-input {
    width: 100%;
    border: 1px solid $orange;
    height: 36px;
    padding: 5px 10px;
    font-size: 12px;
    &-wrap {

    }
  }
  &-label {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    font-weight: 600;
    &-height {
      height: auto;
      margin-bottom: -15px;
    }
    &-text {
      font-weight: 400;
      font-size: 12px;
      line-height: 1;
    }
    &-wrap {

    }
  }
  &-textarea {
    border: 1px solid $orange;
    padding: 10px;
    width: 100%;
    min-height: 160px;
  }
  &-checkbox {
    &-label {
      background: #fff;
      border: 1px solid $orange;
      color: $orange;
      font-weight: 300;
      font-size: responsive 13px 15px;
      margin-left: 0;
      margin-right: 3px;
      margin-bottom: 3px;
      border-radius: 0;
      &.ui-state-active {
        background: $orange;
        border: 1px solid $orange;
        font-weight: 300;
        color: #fff;
        &:hover {
          background: $orange;
          border: 1px solid $orange;
          font-weight: 300;
          color: #fff;
        }
      }
      &.ui-visual-focus {
        box-shadow: none;
      }
      &:hover {
        background: $orange;
        border: 1px solid $orange;
        font-weight: 300;
        color: #fff;
      }
      .ui-icon {
        display: none;
      }
    }
    &-wrap {

    }
  }
  &-select {
    width: 100%;
    border: 1px solid $orange;
    height: 36px;
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 0;
    display: flex;
    align-items: center;
    &.open {
      border-color: $orange;
    }
    &:hover, &:focus {
      border-color: $orange;
    }
    & .list {
      border-radius: 0;
      width: 100%;
      border: 1px solid $orange;
      box-shadow: none;
      & .option {
        line-height: 36px;
        height: 36px;
        padding-left: 10px;
      }
    }
    &-wrap {

    }
  }
}

// user

// sitter
.setAddressModal, .setLinkGoogle, .setLinkFacebook {
  .modal {
    &-text {
      line-height: 1.2;
      margin: 20px 0px;
      font-size: 14px;
      font-weight: 300;
    }
    &-input {
      font-weight: 300;
      &-wrap {
        margin-bottom: 20px;
        padding: 0 40px;
      }
    }
  }
}

.reg-sitter {
  .reg-btn-soclink {
    margin-top: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    &.mybtn-facebook {
      color: #fff;
      background-color: $facebook;
      border-color: $facebook;
      &:hover {
        background-color: $facebook * .8;
      }
    }
    &.mybtn-google {
      color: #fff;
      background-color: $google;
      border-color: $google;
      &:hover {
        background-color: $google * .8;
      }
    }
  }
  input[type="file"] {
    display: none;
  }
  textarea {
    font-size: 12px;
  }
  .reg-label {
    justify-content: flex-start;
    &-checkbox {
      display: flex;
      align-items: center;
      span {
        font-size: 13px;
      }
      input {
        width: auto;
        margin-right: 10px;
      }
    }
  }
  .reg-sublabel {
    line-height: 1.2;
    margin: 20px 0 -10px;
  }
  &__column {
    padding-top: 20px;
  }
  &__btn {
    margin-top: 10px;
  }
  &__subtitle {
    margin: 30px 0 40px;
    font-size: 14px;
    padding: 0 40px;
  }
  &__img {
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    &-wrap {

    }
  }
  &__text {
    &-link {
      font-weight: 300;
      color: $orange;
      font-size: 14px;
      &:focus, &:active {
        color: $orange;
      }
      &:hover {
        color: $orange;
        text-decoration: underline;
      }
    }
    blockquote {
      padding: 20px;
      background-color: rgba($orange, .7);
      margin: 30px 0;
      position: relative;
      left: -15px;
      width: calc(100% + 30px);
      border-radius: 5px;
      p {
        margin-bottom: 0;
        font-weight: 600;
        font-family: $secondFont;
      }
    }
    b {
      font-weight: 500;
    }
    p {
      margin-bottom: 20px;
    }
    h4 {
      margin-bottom: 5px;
    }
    h3 {
      margin-bottom: 5px;
    }
    a {
      color: $orange;
      &:focus, &:active {
        color: $orange;
      }
    }
    ul {
      padding-left: 35px;
      margin: 15px 0;
      li {
        list-style-type: disc;
        margin-bottom: 5px;
      }
    }
  }
  &__label {
    &-center {
      flex-direction: row;
      align-items: center;
      margin: 10px 0 40px;
      * {
        flex-basis: auto;
        width: auto;
        margin: 0 8px 0 !important;
      }
    }
    &-wrap {
      margin-bottom: 15px;
      span {
        display: block;
        margin-bottom: 3px;
      }
      input {
        font-weight: 300;
      }
    }
  }
}
// eof register page

.content-page {
  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 15px;
  }
  ul {
    padding-left: 30px;
    margin-bottom: 15px;
    li {
      list-style-type: disc;
      padding-left: 10px;
    }
  }
  ol {
    padding-left: 30px;
    margin-bottom: 15px;
    li {
      list-style-type: decimal;
      padding-left: 10px;
    }
  }
  p {
    margin-bottom: 15px;
  }
  b, strong {
    font-weight: 700  ;
  }
  i {
    font-style: italic;
  }
  u {

  }
  a {
    color: $orange;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
  img {
    margin-bottom: 10px;
  }
}

// order page
.order {
  &-panel {
    margin-bottom: 35px;
  }
  &-title {
    font-size: responsive 24px 28px;
    font-weight: 400;
    line-height: 1.2;
    span {
      display: inline-block;
    }
  }
  &-avatar {
    border-radius: 50%;
    @media #{$max768} {
      margin: 20px auto 0;
    }
  }
  &-link {
    &-back {
      display: flex;
      padding: 8px 10px;
      font-size: 12px;
      align-items: center;
      justify-content: space-between;
      border: 1px solid $orange;
      background: $orange;
      @media #{$max768} {
        margin-bottom: 15px;
      }
      &:hover {
        background-color: #fff;
        transition: .25s;
      }
      span {
        line-height: 1;
        font-size: 12px;
      }
    }
  }
  &-label {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    font-weight: 600;
    font-family: $secondFont;
    &-date {
      color: #fff;
      display: flex;
      align-items: center;
      width: 100%;
      height: 36px;
      background: $orange;
      padding: 5px 10px;
      margin-bottom: 10px;
      cursor: pointer;
      font-size: 14px;
      font-weight: 300;
      @media #{$max576} {
        width: 100%;
      }
      span {
        display: inline-block;
        line-height: 1;
      }
      input {
        cursor: pointer;
        margin-left: 10px;
        font-weight: 400;
      }
    }
  }
  &-text {
    margin-top: 25px;
    font-size: 14px;
    b {
      font-weight: 700;
    }
  }
  &-calc {
    &-wrap {
      background-color: rgba(255, 157, 0, 0.7);
      padding: 35px 10px 30px;
      margin: 20px 0 10px;
      border-radius: 5px;
    }
    &-text {
      font-size: 14px;
      margin-bottom: 5px;
      b {
        font-weight: 700;
      }
    }
  }
  &-input {
    border: 1px solid $orange;
    padding: 5px 10px;
    height: 36px;
    width: 100%;
    font-weight: 300;
    font-size: 14px;
    &-wrap {
      margin-bottom: 10px;
    }
  }
  &-textarea {
    border: 1px solid $orange;
    padding: 10px;
    min-height: 72px;
    width: 100%;
    font-weight: 300;
    font-size: 14px;
    resize: none;
    &-wrap {
      margin-bottom: 10px;
    }
  }
  &-checkbox-wrap {
    display: flex;
    flex-wrap: wrap;
  }
  &-dog {
    margin-bottom: 55px;
    padding: 20px 20px 10px;
    background-color: rgba(255, 157, 0, 0.7);
    border-radius: 5px;
    .reg-checkbox-wrap {
      margin-top: 5px;
    }
    .reg-checkbox-label {
      padding: 5px 9px;
    }
    .reg-label {
      justify-content: flex-start;
      @media #{$max768} {
        margin-bottom: 15px;
      }
    }
    &-list {
      padding: 35px 0;
    }
    &-add {
      margin-top: -35px;
      &-link {
        text-decoration: underline;
        font-size: 15px;
        font-family: $secondFont;
        color: $orange;
        &:hover, &:focus, &:active {
          color: $orange;
          text-decoration: none;
        }
      }
    }
  }
}
// eof order page
