/*
 * UI
 * ELEMENTS
 * HERE
 */


// user-panel
.user-panel {
  background-color: rgb(239,247,254);
  height: 46px;
  &-list {
    height: 46px;
  }
  &-item {
    margin: 0 30px;
  }
  &-link {
    color: rgb(139, 152, 166);
    font-family: $main-fontBold;
    span {
      margin-right: 12px;
    }
    &.active {
      color: rgb(10, 11, 12);
    }
    &:hover {
      color: rgb(10, 11, 12);
    }
  }
}
// eof user-panel

// map
#map {
  height: 400px;
}
// eof map

// breadcrumbs
.breadcrumbs {
  &-link {
    font-size: 12px;
    font-family: $second-font;
    font-weight: 300;
    color: rgb(107, 117, 127);
    text-transform: uppercase;
    &:hover {
      color: #000;
    }
    &.current {
      font-weight: 700;
      color: #000;
      cursor: default;
    }
  }
  &-wrapper {
    padding: 8px 0;
  }
}
// eof breadcrumbs

// MODULE more
.more {
  height: 60px;
  width: 615px;
  background-color: #000;
  margin: 0 auto 100px;
  &-text {
    color: #fff;
    text-transform: uppercase;
    font-family: $main-fontBold;
    cursor: pointer;
  }
}
// eof more

/*
 * EOF
 * UI
 * ELEMENTS
 */


// main page
.main {

}
// eof main page

// article
.article-wrapper {
  margin-bottom: 50px;
  h1, h2, h3, h4, h5, h6 {
    color: #000;
    font-family: $main-fontBold;
    text-transform: uppercase;
    margin: 20px 0;
  }
  h1 {
    font-size: responsive 42px 59px;
    margin: 40px 0;
  }
  h2 {
    margin: 30px 0;
  }
  h3 {
    font-size: responsive 21px 27px;
  }
  h4 {
    font-size: responsive 18px 21px;
  }
  p {
    color: rgb(73, 80, 87);
    font-family: $second-font;
    font-weight: 300;
    font-size: responsive 14px 18px;
    margin-bottom: 10px;
  }
  ul {
    position: relative;
    list-style: url(./../images/circle.png);
    padding-left: 30px;
    margin: 25px 0;
    li {
      font-family: $second-font;
      padding-left: 8px;
      color: #000;
      font-weight: 300;
      font-size: responsive 14px 18px;
    }
  }
  ol {
    //list-style-type: none;
    //counter-reset: item;
    position: relative;
    //padding-left: 0;
    li {
      position: relative;
      padding-left: 50px;
      font-family: $second-font;
      color: #000;
      font-size: responsive 14px 18px;
      font-weight: 300;
      &:before {
        content: "/";
        position: absolute;
        left: -33px;
        top: 0;
        color: $hover-color;
        font-family: $second-font;
        font-weight: 900;
      }
      &:after {
        position: absolute;
        left: 0;
        top: 0;
        color: $hover-color;
        font-family: $second-font;
        font-weight: 900;
        content: "/"
      }
    }
  }
  .time {
    display: block;
    text-transform: uppercase;
    margin-top: -40px;
    margin-bottom: 30px;
    color: rgb(129, 143, 165);
    font-size: responsive 16px 21px;
    font-family: $main-fontBold;
  }
  span {

  }
  img {
    margin: 25px 0;
    & + img {
      margin-left: 20px;
    }
  }
}
// eof article

// cart
.cart {
  background-color: rgb(252,252,252);
  &-text {
    font-size: 12px;
    color: #434343;
    line-height: 14px;
    &-wrapper {
      margin-left: 20px;
      .cart-text-big {
        font-size: 18px !important;
        margin-bottom: 20px;
      }
      .cart-text {
        font-size: 14px !important;
      }
    }
    &-big {
      font-size: 16px;
      line-height: 18px;
    }
  }
  &-item {
    background-color: #fff;
    position: relative;
    padding: 20px;
    border: 1px solid #d3d3d3;
    &-icon-wrapper {
      right: -48px;
      top: calc(50% - 14px);
      position: absolute;
      img {
        cursor: pointer;
      }
    }
  }
  &__flex {
    &-row {
      flex: 1 1 100%;
      margin-bottom: 10px;
    }
    &-submit {
      margin: 32px 0;
      width: 100%;
      & > * {
        flex-basis: 100% !important;
        text-align: right;
        p {
          font-size: 18px;
          color: #434343;
        }
        .cart-btn {
          margin-top: 8px;
        }
      }
    }
    &-item {
      &:nth-child(1) {
        flex-basis: 60%;
      }
      &:nth-child(2) {
        flex-basis: 15%;
      }
      &:nth-child(3) {
        flex-basis: 25%;
      }

      .cart-counter {
        display: flex;
        span {
          font-size: 20px;
          color: #C0C0C0;
          width: 20px;
          border: 0;
          text-align: center;
          cursor: pointer;
        }
        .cart-minus {
        }
        .cart-plus {
        }
        input {
          width: 30px;
          border: 0;
          color: #434343;
          text-align: center;
        }
      }
      .cart-price {
        text-align: right;
        font-size: 14px;
        &-one {
          color: #9B9B9B;
          &.old-price {
            text-decoration:line-through
          }
        }
        &-total {
          font-size: 18px;
          color: #434343;
        }
        &-sale {
          color: $red;
        }
      }
    }
  }
  &-btn {
    letter-spacing: 2px;
    font-size: 10px;
  }
}
// eof cart

// order
.order {
  background-color: rgb(252,252,252);
  height: 100%;
  min-height: calc(100vh - 266px);
  padding-bottom: 100px;
  &-list {
    &-wrapper {

    }
    &-title {
      &-flex-item {
        flex: 1 1 auto;
        padding: 10px 0 10px 20px;
        text-transform: uppercase;
      }
    }
  }
  &-item {
    margin-bottom: 10px;
    position: relative;
    &.order-item-open {
      .order-flex-item {
        background-color: rgb(255,247,235);
        color: $red;
      }
      .order-fix-width {
        background-color: transparent;
      }
    }
    .order-flex-item {
      cursor: pointer;
      background: #fff;
      padding-left: 20px;
      display: flex;
      align-items: center;
      border-top: 1px solid #d3d3d3;
      border-bottom: 1px solid #d3d3d3;
      &:nth-child(2) {
        border-left: 1px solid #d3d3d3;
      }
      &:nth-child(6) {
        border-right: 1px solid #d3d3d3;
      }
    }
    .order-fix-width {
      background-color: transparent;
      border: 0;
      justify-content: flex-end;
      img {
        margin: 0px 1px;
        &:last-child {
          margin-right: 2px;
        }
      }
    }
  }
  .order-fix-width {
    max-width: 200px;
    width: 200px;
    text-align: right;
  }
  &-flex {
    &-item {
      flex: 1 1 auto;
      font-size: 14px;
      color: #434343;
      letter-spacing: 0;
      &:nth-child(2) {
        flex-basis: calc(19% - 40px);
      }
      &:nth-child(3) {
        flex-basis: calc(19% - 40px);
      }
      &:nth-child(4) {
        flex-basis: calc(24% - 40px);
      }
      &:nth-child(5) {
        flex-basis: calc(19% - 40px);
      }
      &:nth-child(6) {
        flex-basis: calc(19% - 40px);
      }
    }
  }
  &-info {
    position: relative;
    display: none;
    margin-left:auto;
    margin-right: 1px;
    line-height: 1;
    z-index: 99;
    width: calc(100% - 201px);
    background-color: #fff;
    border: 1px solid;
    border-top-style: dashed;
    color: #434343;
    &-total {
      padding: 10px 20px 25px;
      justify-content: flex-end;
      .order-total-container {
        display: block;
      }
      &-text {
        margin-bottom: 5px;
        font-size: 14px;
        &:nth-child(1) {
          width: 200px;
        }
      }
      &-price {

      }
    }
    &-items {
      margin: 15px;
      border-bottom: 2px solid #C0C0C0;
    }
    &-item {
      margin-bottom: 11px;
      align-items: center;
      padding-bottom: 11px;
      border-bottom: 1px solid #c0c0c0;
      &:last-child {
        margin-bottom: 0;
        border: 0;
      }
      & > div {
        h6 {
          color: $red;
          font-size: responsive 12px 14px;
        }
        p {
          font-size: responsive 12px 14px;
        }
      }
      & > div:nth-child(1) {
        flex: 1 1 6%;
      }
      & > div:nth-child(2) {
        flex: 1 1 64%;
      }
      & > div:nth-child(3) {
        flex: 1 1 30%;
        margin-left: auto;
      }
    }
    &-column {
      &-title {
        text-transform: uppercase;
        font-size: 14px;
        margin-bottom: 10px;
      }
      &-text {
        font-size: 14px;
        margin-bottom: 15px;
        line-height: 1.4;
      }
      &-wrapper {
        padding: 20px;
        border-bottom: 1px dashed;
      }

    }
  }
}
// eof order

// product
.product {
  &-title {

  }
  &-img {
    &-wrapper {

    }
  }
  &-text {

  }
  &__flex {
    &-container {

    }
    &-item {

    }
  }
  &-quote {

  }
  &-info {
    &-column {

    }
  }
  &-decor {

  }
}
// eof product